/Agent.class
/ProblemSet.class
/RavensFigure.class
/RavensObject.class
/RavensProblem.class
/RavensProject.class
/AgentDiagram.class
/AgentDiagramComparison.class
/AgentShapeMapping.class
/AgentShapeMapping$mappingTransformations.class
/AgentMapScore.class
/AgentMappingScore.class
/Agent$DebugPrintType.class
/Agent$debugPrintType.class
/AgentTransformation.class
